body{
  display: block;
    width: 100%;
    height: 100%;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;	
  }
  .bnt-enter{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 4px 4px;
    background-color: white;
  }
  .bnt-enter:hover{
    background-color:rgb(196, 195, 195) ;
    color: darkmagenta;
  }

   input{
    border-radius: 3px;
    border: NONE;
    margin-top: 5px;
    background-color: rgb(145, 113, 197) ;
    font-family: Arial, Helvetica, sans-serif;
  }
  input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  .opn{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: 0 0 0 0;
    outline:rgb(145, 113, 197);
  }
  #map{
    background-color: beige ;
    border-radius: 10px;
    margin: 10px;
    padding: 6px;
    margin-left: 53%;
  }
  #loginUser{
    font-size: 15px;
    text-align: center;
    float: left;
    padding-top: 9%;
    padding-bottom: 200px;
    line-height: 30px;
    background-color: rgb(141, 89, 223) ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px  rgb(153, 153, 138);
    
  }