body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;	
    ;
  }
  .bnt-enter{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 4px 4px;
    background-color: white;
  }
  .bnt-enter:hover{
    background-color:rgb(196, 195, 195) ;
    color: darkmagenta;
  }
   input{
    border-radius: 3px;
    border: NONE;
    margin-top: 5px;
    background-color: rgb(145, 113, 197) ;
    font-family: Arial, Helvetica, sans-serif;
  }
  #quadrado{
    background-color: rgb(126, 65, 223) ;
    margin: 300px;
    text-align: center;
    padding-top: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  rgb(153, 153, 138);
    
  }