body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
    background: rgb(113, 113, 209);
}
#all{
    display: flex;
    margin-right: 400px;
    border-radius: 4px;
    margin-left: 40%;

    
}
.back_button1{
    margin-top: 20px;
    color: rgb(112, 112, 231);
    border-radius: 4px; 
    border: none;
    background-color: rgb(249, 249, 252);          
}
.back_button1:hover{
    background-color: rgb(98, 67, 236);
    color: rgb(248, 248, 248);
    transition: 0.3s;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 30px;


}