body{
    background:linear-gradient(90deg, rgb(36, 17, 0) 0%, rgb(121, 54, 9) 35%, rgb(255, 187, 0) 100%);
}
.all{
    display: flex;
    margin-right: 500px;
    border-radius: 4px; 
    margin-left: 40%;
}
.back_button{
    margin-top: 20px;
    margin-left: 47%;
    background-color: orange;
    border-style: none;
    border-radius: 3px;
}
.back_button:hover{
    background-color: rgb(3, 3, 3);
    color: orange;
    border-style: solid, black;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 46%;
    transition: 0.2s;

}
li{
    line-height: 30px;
    color: white;
}
