body{
    background-color: rgb(216, 216, 189);
            
}
.all{
    display: flex;
    margin-right: 500px;
    border-radius: 4px; 
    margin-left: 40%;
}
.back_button{
    margin-top: 20px;
    margin-left: 47%;
    background-color: rgb(175, 175, 137);
    border-style: none;
    border-radius: 3px;
}
.back_button:hover{
    transition: 0.2s;
    background-color: rgb(168, 238, 87);

}
li{
    line-height: 30px;
    color: white;
}
